*{
    padding:0;
    margin:0;
    color:#000000;
    text-align: center;
}

html, body{
    background-image: url("torneo.jpg");
}

.cont{
    background: rgb(22, 1, 59);
}

nav, section, footer{
    border: 2px solid #8D9EC6;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

article, aside{
    display: inline-block;
    height: 300px;
    background-color: #ffffff;

}

nav, section{
    background-color: #004E66;
}

div{
    display: inline-block;
   text-align: left; 
   margin-left: 50px;
   margin-right: 50px;
   
}

img{
    width: 500px;
}

footer{
    background-color: #004E66;
    border: 2px solid #8D9EC6;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

.dragonball{
    font-size: 30px;
    text-decoration: dashed;
    overflow: hidden;
}

.conte{
    width: 250px;
}